@import './mixin'

body
  color: #555
  font-weight: bold
  font-size: 0.67em
  font-family: "Helvetica Neue", sans-serif
  -webkit-user-select: none
  margin: 0
  padding: 0
  
button
  padding: 0.3em 0.5em
  background: #999
  color: #FFF
  font-size: 0.7em
  font-weight: normal
  border-radius: 3px
  font-family: "Helvetica Neue", sans-serif
  border: 0
  
em
  font-style: normal
  
h1, h2
  margin: 0em
  padding: 0em
  font-size: 1em
  
* 
  -webkit-tap-highlight-color: rgba(0,0,0,0)

body.landscape::after
  content: "Portrait only mode supported"
  font-size: 16px
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  text-align: center
  padding: 15%
  background: rgba(255, 255, 255, 0.9)
  